body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(50, 65, 36);
    color: white;

}

header .logo {
    width: 50vw;
    display: flex;
    align-items: center;
    padding: 2px;

    img {
        width: 10%;
        height: 80%;
        filter: invert(100%);
        border-radius: 50%;
    }

    h1 {
        margin-left: 10px;
    }
}

header .option {
    width: 50vw;
    display: flex;
    justify-content: right;
    align-items: center;

    .like,
    .sign_up,
    .login {
        display: flex;
        margin-right: 1%;
        width: 12%;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        background-color: #666363;
    }

    .sign_up {
        background-color: #76e787;
    }

}

main {
    margin: 8vh auto;
    width: 80vw;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.9);

}

.resume-head {
    background-color: #918585;
    height: 30vh;
    display: flex;
    justify-content: end;
    align-items: end;

    P {
        margin: 1% 20%;
        font-size: 60PX;
    }
}

.resume_main {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: flex-start;
    border: 2px solid rgb(166, 168, 166);

    .resume-index {
        padding: 2%;
        width: 30%;
        height: 1000px;
        margin: -120px 0px 0px 5%;
        font-size: 15px;
        background-color: rgb(166, 200, 216);
        overflow: hidden;

        h2 {
            margin: 0px;
        }

        .image {
            text-align: center;
            align-items: center;

            img {
                width: 80%;
                border-radius: 50%;
            }
        }

        .address p {
            margin: 5px;
        }

        .social p {
            margin: 8px;

            img {
                width: 17px;
            }
        }
    }

    .resume_contant {
        width: 63%;
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: justify;

        h1 {
            text-align: center;
            margin: 0px;
        }

        H2 {
            width: 70%;
            border: 1PX solid rgb(63, 59, 59);
            text-align: center;
            margin: 1% auto 0px auto;
            background-color: #bbbaba;
        }

        hr {
            border: 1PX solid rgb(63, 59, 59);
            width: 25%;
        }
    }
}


.project {

    h3,
    h4,
    .sub {
        margin: 3px;
    }

}

/* 
@media (max-width: 2100px) {
    .resume-index {
        top: 10vh;
        left: 12vw;
        width: 20%;
        position: absolute;
        margin: auto;
        font-size: 15px;
        background-color: rgb(166, 200, 216);

        h2 {
            margin: 0px;
        }

        .image {
            text-align: center;
            align-items: center;

            img {
                width: 80%;
                border-radius: 50%;
            }
        }
    }
} */